
.box12 {
    width:440px;
    height:245px;
    border: 1px solid white;
    display: inline-block;
    vertical-align: top;
    overflow-y:scroll;
}

.box122 {
    width:180px;
    height:120px;
    border: 1px solid white;
    display: inline-block;
    vertical-align: top;
}

.inline {
    display:inline-block;
    padding-right:70px;
}

h1 {
    color:red;
}

p {
    font-size: 15px;
    display:inline-block;
}

button {
    margin-right:10px;
}

a {
    text-decoration:underline;
}

textarea {
    width:170px;
}

