#container-f {
    width:710px;
    border: 1px solid black;
    padding-left:10px;
    display:inline-block;
    vertical-align: top;
    text-align: left;    
}

.box {
    width:300px;
    display: inline-block;
    vertical-align: top;
}

.inline {
    display:inline-block;
    padding-right:70px;
}

h2 {
    color:red;
    width:300px;
    text-align: center;
    display:inline-block;
}

p {
    font-size: 15px;
    display:inline-block;
}



