<div id='container-e'>

  
  <h1> {{ title }} </h1> 


  <form (submit)="onSubmit()">
    
    <p> {{ formBody | json }} </p>

    <p *ngIf='newTask'> New Task: {{newTask._id}}; {{newTask.title}}; {{newTask.description}}; {{newTask.completed}}; </p>

    <p *ngFor='let err of newErr'> {{err}} </p>

    Title: <input type="text" name="formBody.title" [(ngModel)]="formBody.title"/> <br><br>

    Description: <input type="text" name="formBody.description" [(ngModel)]="formBody.description" /> <br><br>

    <input type="submit" value="New Data" />

  </form>

  <br><br>
</div>