<div id='container-e'>

  
  <h1> {{ title }} </h1> 


  <form (submit)="onSubmit()">
    
    <p> {{ newBody | json }} </p>

    <p *ngIf='newTask'> New Task: {{newTask._id}}; {{newTask.title}}; {{newTask.description}}; {{newTask.completed}}; </p>

    <p *ngFor='let err of newErr'> {{err}} </p>

    Title: <input type="text" name="newBody.title" [(ngModel)]="newBody.title"/> <br><br>

    Description: <input type="text" name="newBody.description" [(ngModel)]="newBody.description" /> <br><br>

    <input type="submit" value="New Task" />

  </form>

  <br><br>
</div>