<div id='container-h'>

  <h1>Rate My Cake</h1>
  
  <div class='box11'>
    <h4>Submit a cake to be rated!</h4>
    <form (submit)="onSubmitAdd()">
        
        <a *ngFor='let err of newErr'> {{err}} <br></a>
    
        Baker:<br>
        <input type="text" name="newBody.baker" [(ngModel)]="newBody.baker"/> <br>
    
        image url:<br>
        <input type="text" name="newBody.url" [(ngModel)]="newBody.url" /> <br>
    
        <input type="submit" value="Add Cake" />

      </form>

  </div>

  <div class='box12'>
      
    <div *ngFor='let cake of allCake'>

      <div class='box121'>
          <img ref='' src={{curUrl}} width="190" height="110" (click)="clickImg(cake)" />
      </div>
      
      <div class='box122'>
        <br>
        <form (submit)="onSubmitCmt(cake._id)">
          <select name="star">
            <option value='1 star'>1 star</option>
            <option value='2 stars'>2 stars</option>
            <option value='3 stars'>3 stars</option>
            <option value='4 stars'>4 stars</option>
            <option value='5 stars'>5 stars</option>
          </select>
          <textarea name="content" placeholder='Comment'></textarea>
          <input type="submit" value="Rate!" /> &nbsp; &nbsp; 
          <a (click)="clickDel(cake._id)">Delete cake</a>   
        </form>
      </div><br>
      

    </div>

  </div>

  <div>
    <app-cake *ngIf="oneCake" [cakeToShow]="oneCake"></app-cake>
  </div>

  <br>
</div>>
