#container-a {
    width:550px;
    height:270px;
    border: 1px solid black;
    padding-left: 10px;
    display:inline-block;
    vertical-align: top;
    text-align: left;    
}

.inline {
    display:inline-block;
}

h1 {
    color:red;
}
